{
 :paths ["src" "resources"]
 :deps {
        http-kit/http-kit {:mvn/version "2.8.0"}
        compojure/compojure {:mvn/version "1.7.1"}
        ring/ring-core {:mvn/version "1.13.0"}
        metosin/jsonista {:mvn/version "0.3.13"}
 }
}