{:paths ["src" "resources" "dev"]
 :deps {http-kit/http-kit {:mvn/version "2.8.0"}
        compojure/compojure {:mvn/version "1.7.1"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        metosin/jsonista {:mvn/version "0.3.13"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.994"}
        org.xerial/sqlite-jdbc {:mvn/version "3.49.1.0"}
        buddy/buddy-core {:mvn/version "1.12.0-430"}
        buddy/buddy-sign {:mvn/version "3.5.351"}
        aero/aero {:mvn/version "1.1.6"}
        com.layerware/hugsql-core {:mvn/version "0.5.3"}
        com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.3"}
        metosin/malli {:mvn/version "0.18.0"}
        com.gfredericks/test.chuck {:mvn/version "0.2.14"}
        com.kepler16/mallard {:mvn/version "3.2.1"}
        com.kepler16/mallard-sqlite-store {:mvn/version "3.2.1"}}
 :aliases {:migrate {:main-opts ["-m" "migrate"]}}}
