{:supersecretkey #env SUPER_SECRET_KEY
 :admins-path #env ADMINS_PATH
 :admins-encrypted-path "resources/admins_encrypted.json"
 :cors-origin #or [#env CORS_ORIGIN "http://localhost:8080"]
 :env #or [#env ENV "dev"]
 :database {:dir #or [#env DATABASE_DIR ".db/"]
            :type "sqlite"}
 :oauth2 {:google {:authorization-uri   "https://accounts.google.com/o/oauth2/auth"
                   :access-token-uri    "https://oauth2.googleapis.com/token"
                   :redirect-uri        #or [#env GOOGLE_REDIRECT_URI "http://localhost:3000/oauth2/google/callback"]
                   :client-id           #env GOOGLE_CLIENT_ID
                   :client-secret       #env GOOGLE_CLIENT_SECRET
                   :access-query-param  :access_token
                   :scope               ["https://www.googleapis.com/auth/userinfo.email"]
                   :grant-type          "authorization_code"}}}

